<!-- card -->
<div class="cards">
    <mat-card>
        <mat-card-content>
            <app-card bg="orange" icon="person" description="Students" count="2000">
                
            </app-card>
        </mat-card-content>
      </mat-card>
    <mat-card>
        <mat-card-content><app-card bg="red" icon="home" description="Institution" count="50"></app-card></mat-card-content>
      </mat-card>
    <mat-card>
        <mat-card-content><app-card bg="green" icon="groups" description="Employees" count="1000"></app-card></mat-card-content>
      </mat-card>
    <mat-card>
        <mat-card-content><app-card bg="blue" icon="dashboard" description="Placements" count="1500"></app-card></mat-card-content>
      </mat-card>
      
    

</div>
<!-- area chart -->
<div class="area">

    <app-area-chart></app-area-chart>

</div>
<!-- table and pie chart -->
<div class="tablepie">
    <!-- table -->
    <div class="table">
        <app-table></app-table>
    </div>
    <!-- pie chart -->
    <div class="pie">
        <app-pie-chart></app-pie-chart>
    </div>
</div>