.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.area{
    margin: 20px 0px;
}
.tablepie{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.tablepie .table{
    width: 55%;
}
.tablepie .pie{
    width: 40%;
}
